<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>RecipeWebApplication</display-name>
 <servlet>
<description></description>
<display-name>RecipeController</display-name>
<servlet-name>RecipeController</servlet-name>
<servlet-class>com.recipe.controller.RecipeController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RecipeController</servlet-name>
<url-pattern>/RecipeController</url-pattern>
</servlet-mapping>

</web-app>
